<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.wbh.projektarbeit.tps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BusinessLogic"
        android:icon="@drawable/ic_launcher"
        android:label="TPS Client" >
        <activity
            android:name=".activities.Login"
            android:configChanges="orientation"
            android:label="TPS Client" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Tasks"
            android:label="Übersicht Arbeitsaufträge" />
        <activity
            android:name=".activities.Task"
            android:configChanges="orientation"
            android:label="Arbeitsauftrag" />
        <activity
            android:name=".activities.Preferences"
            android:label="Einstellungen" />
    </application>

</manifest>